BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
######### ECP5 USB Audio Board rev A board #########

######### Clocks #########
LOCATE COMP "clk_24576000" SITE "G2";
LOCATE COMP "clk_22579200" SITE "H2";

IOBUF PORT "clk_24576000" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "clk_22579200" PULLMODE=NONE IO_TYPE=LVCMOS33;

FREQUENCY PORT "clk_24576000" 24.576000 MHZ;
FREQUENCY PORT "clk_22579200" 22.579200 MHZ;

######### JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash #########
# write to FLASH possible from user bitstream:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

######### JTAG #########
# Connected to FT231X; commented out because those are dedicated pins, not directly useable as GPIO
# but could be used by some vendor-specific JTAG bridging (boundary scan) module
#LOCATE COMP "jtag_tdi" SITE "R5"; # FTDI_nRI  FPGA receives
#LOCATE COMP "jtag_tdo" SITE "V4"; # FTDI_nCTS FPGA transmits
#LOCATE COMP "jtag_tck" SITE "T5"; # FTDI_nDSR FPGA receives
#LOCATE COMP "jtag_tms" SITE "U5"; # FTDI_nDCD FPGA receives

#IOBUF PORT "jtag_tdi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "jtag_tdo" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "jtag_tck" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "jtag_tms" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

######### SPI Flash chip #########
LOCATE COMP "flash_csn" SITE "R2";
LOCATE COMP "flash_clk" SITE "U3";
LOCATE COMP "flash_mosi" SITE "W2";
LOCATE COMP "flash_miso" SITE "V2";
LOCATE COMP "flash_holdn" SITE "W1";
LOCATE COMP "flash_wpn" SITE "Y2";

IOBUF PORT "flash_csn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_clk" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_mosi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_miso" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_holdn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_wpn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

######### Onboard reset button #########
# Button on the main board
LOCATE COMP "btn_reset" SITE "P1";

IOBUF PORT "btn_reset" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

######### USBSERIAL FTDI-FPGA serial port #########
# uart_rxd and uart_txd are flipped relative to schematic to make the FPGA the reference.
LOCATE COMP "uart_rxd" SITE "M1"; # FPGA receives from ftdi
LOCATE COMP "uart_txd" SITE "L4"; # FPGA transmits to ftdi
LOCATE COMP "ftdi_rtsn" SITE "M3"; # FPGA receives
LOCATE COMP "ftdi_dtrn" SITE "N1"; # FPGA receives
LOCATE COMP "ftdi_txden" SITE "L3"; # FPGA receives

IOBUF PORT "ftdi_rxd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ftdi_txd" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ftdi_rtsn" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ftdi_dtrn" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ftdi_txden" PULLMODE=UP IO_TYPE=LVCMOS33;

######### FT2232HQ FIFO #########
LOCATE COMP "ft2232_reset_n" SITE "L17";
LOCATE COMP "fifo_oe_n" SITE "U19";
LOCATE COMP "fifo_clk" SITE "U20";
LOCATE COMP "fifo_siwu" SITE "T19";
LOCATE COMP "fifo_wr_n" SITE "T20";
LOCATE COMP "fifo_rd_n" SITE "R20";
LOCATE COMP "fifo_txe_n" SITE "P19";
LOCATE COMP "fifo_rxf_n" SITE "P20";
LOCATE COMP "fifo_data[0]" SITE "L18";
LOCATE COMP "fifo_data[1]" SITE "M18";
LOCATE COMP "fifo_data[2]" SITE "L20";
LOCATE COMP "fifo_data[3]" SITE "L19";
LOCATE COMP "fifo_data[4]" SITE "M20";
LOCATE COMP "fifo_data[5]" SITE "M19";
LOCATE COMP "fifo_data[6]" SITE "N20";
LOCATE COMP "fifo_data[7]" SITE "N19";

IOBUF PORT "ft2232_reset_n" PULLMODE=NONE IO_TYPE=LVCMOS33 OPENDRAIN=ON;
IOBUF PORT "fifo_oe_n" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "fifo_clk" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "fifo_siwu" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "fifo_wr_n" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "fifo_rd_n" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "fifo_txe_n" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "fifo_rxf_n" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "fifo_data[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "fifo_data[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "fifo_data[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "fifo_data[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "fifo_data[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "fifo_data[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "fifo_data[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "fifo_data[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

#LEDs
LOCATE COMP "led_uart_tx_overflow" SITE "H1";
LOCATE COMP "led_uart_rx_overflow" SITE "J1";
LOCATE COMP "led_reset" SITE "G1";
LOCATE COMP "led_user" SITE "F1";

IOBUF PORT "led_uart_tx_overflow" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_uart_rx_overflow" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_reset" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_user" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

######### Extension header ########
LOCATE COMP "extension[0]" SITE "E1";
LOCATE COMP "extension[1]" SITE "E2";
LOCATE COMP "extension[2]" SITE "D1";
LOCATE COMP "extension[3]" SITE "D2";
LOCATE COMP "extension[4]" SITE "B1";
LOCATE COMP "extension[5]" SITE "C2";
LOCATE COMP "extension[6]" SITE "B2";
LOCATE COMP "extension[7]" SITE "C1";
LOCATE COMP "extension[8]" SITE "B3";
LOCATE COMP "extension[9]" SITE "A2";
LOCATE COMP "extension[10]" SITE "B5";
LOCATE COMP "extension[11]" SITE "A3";
LOCATE COMP "extension[12]" SITE "B4";
LOCATE COMP "extension[13]" SITE "A4";
LOCATE COMP "extension[14]" SITE "C5";
LOCATE COMP "extension[15]" SITE "A5";
LOCATE COMP "extension[16]" SITE "A6";
LOCATE COMP "extension[17]" SITE "B6";
LOCATE COMP "extension[18]" SITE "G3";
LOCATE COMP "extension[19]" SITE "C3";
LOCATE COMP "extension[20]" SITE "C4";
LOCATE COMP "extension[21]" SITE "D3";
LOCATE COMP "extension[22]" SITE "B8";
LOCATE COMP "extension[23]" SITE "A7";
LOCATE COMP "extension[24]" SITE "B9";
LOCATE COMP "extension[25]" SITE "A8";
LOCATE COMP "extension[26]" SITE "A10";
LOCATE COMP "extension[27]" SITE "A9";
LOCATE COMP "extension[28]" SITE "A11";
LOCATE COMP "extension[29]" SITE "B10";
LOCATE COMP "extension[30]" SITE "C11";
LOCATE COMP "extension[31]" SITE "B11";
LOCATE COMP "extension[32]" SITE "C7";
LOCATE COMP "extension[33]" SITE "D6";
LOCATE COMP "extension[34]" SITE "C14";
LOCATE COMP "extension[35]" SITE "A14";
LOCATE COMP "extension[36]" SITE "A16";
LOCATE COMP "extension[37]" SITE "B15";
LOCATE COMP "extension[38]" SITE "A17";
LOCATE COMP "extension[39]" SITE "B16";
LOCATE COMP "extension[40]" SITE "A18";
LOCATE COMP "extension[41]" SITE "B17";
LOCATE COMP "extension[42]" SITE "A19";
LOCATE COMP "extension[43]" SITE "B18";
LOCATE COMP "extension[44]" SITE "B20";
LOCATE COMP "extension[45]" SITE "B19";

IOBUF PORT "extension[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[16]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[17]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[18]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[19]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[20]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[21]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[22]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[23]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[24]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[25]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[26]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[27]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[28]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[29]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[30]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[31]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[32]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[33]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[34]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[35]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[36]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[37]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[38]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[39]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[40]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[41]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[42]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[43]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[44]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "extension[45]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

